name: Selenium Tests

on:
  push:
    branches:
      - main

jobs:
  selenium-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Installing all necessary packages
        run: pip install -r tests/frontend_selenium/requirements.txt
      - name: Node install
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Yarn install
        run: yarn install
      - name: Yarn serve 
        run: yarn serve &
      - name: Wait on localhost
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http://localhost:8080

      - name: Run tests
        working-directory: ./tests/frontend_selenium
        env:
          SELENIUM_SEED: ${{ secrets.SELENIUM_SEED }}
          SELENIUM_ADDRESS: ${{ secrets.SELENIUM_ADDRESS }}
        run: echo "::set-output name=pytest-result::$(python -m pytest tests/test_homepage.py::test_polka_page -v)"
        id: run_tests

      - name: TestTracker report
        run: echo'test'
        env:
          TEST_RESULT: ${{ steps.run_tests.outputs.pytest-result }}