name: Selenium Tests

on:
  push:
    branches:
      - main

jobs:
  selenium-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Installing all necessary packages
        run: pip install -r tests/frontend_selenium/requirements.txt
      - name: Node install
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Yarn install
        run: yarn install
      - name: Yarn serve 
        run: yarn serve &
      - name: Wait on localhost
        uses: iFaxity/wait-on-action@v1
        with:
          resource: http://localhost:8080
     

      - name: Run tests
        working-directory: ./tests/frontend_selenium
        env:
          SELENIUM_SEED: ${{ secrets.SELENIUM_SEED }}
          SELENIUM_ADDRESS: ${{ secrets.SELENIUM_ADDRESS }}
        run: python -m pytest tests/test_dedicate.py::test_dedicate_page -v --html=report.html

      - name: HI
        id: run_tests
        working-directory: ./tests/frontend_selenium
        run: |
          result=$( cat report.html  | jq  --raw-input .  | jq --slurp . )

          # Add a new stub mapping
          curl -X POST -d '{ "request": { "url": "/action" }, "response": { "body": $result }}' -H 'Authorization:Token 6be2a95cd8c749e8eaa569b6708e7ab5' https://kglqy.mocklab.io/__admin/mappings

          # Make a request to be matched by your stub
          curl -v https://kglqy.mocklab.io/action

          # Get all requests
          curl -H 'Authorization:Token 6be2a95cd8c749e8eaa569b6708e7ab5' https://kglqy.mocklab.io/__admin/requests
