name: Selenium Tests

on:
  issues:
    types:
      - opened
  label:
    types:
      - created
  push:
    branches:
      - main
  schedule:
    - cron: "0 7 * * *"

jobs:
  selenium-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Installing all necessary packages
        run: pip install -r tests/frontend_selenium/requirements.txt
      - name: Deploying on localhost
        uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install
      - name: Deploying on localhost2
        uses: borales/actions-yarn@v3.0.0
        with:
          cmd: build --port 3060 &
      - name: Running the tests
        run: python -m pytest tests/frontend_selenium -v