name: Selenium Tests

on:
  issues:
    types:
      - opened
  label:
    types:
      - created
  push:
    branches:
      - main
  schedule:
    - cron: "0 7 * * *"

jobs:
  selenium-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Installing all necessary packages
        run: pip install -r tests/frontend_selenium/requirements.txt
      - name: Deploying on localhost
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: yarn install
      - run: yarn serve --port 3060 &
      - run: python -m pytest tests/frontend_selenium -v
        #wait-on: 'http://localhost:3000'