name: Selenium Tests

on:
  issues:
    types:
      - opened
  label:
    types:
      - created
  push:
    branches:
      - main
  schedule:
    - cron: "0 7 * * *"

jobs:
  selenium-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Installing all necessary packages
        run: pip install -r tests/frontend_selenium/requirements.txt
      - name: Deploying on localhost
        run: |
          npm install
          npm run build --if-present
          npm start & npx wait-on http://localhost:3060
        env:
          CI: true
      - name: Running the tests
        run: python -m pytest tests/frontend_selenium -v